#dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

#next
/.next/
/out/
/build

#env
.env
.env.*
!.env.example

#vercel
.vercel

#logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#system
.DS_Store
Thumbs.db

#testing
/coverage
/playwright-report
/test-results

#typescript
*.tsbuildinfo
next-env.d.ts

#cache
.cache
.turbo

#editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea

#husky
.husky

#supabase
.supabase

#misc
*.pem
.agents